.generator-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  .generator-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    border: 1px solid black;

    .password-box {
      display: flex;
      align-items: center;
      width: 100%;

      span {
        border: 1px solid black;
        padding: 10px;
        width: 90%;
      }
    }

    .settings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 20px;

      .setting {
        display: flex;
        margin: 4px 0;
        align-items: center;
        justify-content: center;

        .password-length {
          margin-right: 10px;
        }
      }
    }
  }

  button {
    margin-top: 15px;
  }
}
