.generator-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(3, 3, 3);
  font-family: $font;
  background: linear-gradient(
    175deg,
    rgba(3, 3, 3, 1) 91%,
    rgba(1, 110, 218, 1) 92%,
    rgba(217, 0, 192, 1) 98%
  );

  .generator-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px;
    background-color: rgb(54, 52, 52);
    color: white;
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
      radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;

    @media screen and (max-width: 960px) {
      width: 70%;
    }

    @media screen and (max-width: 700px) {
      width: 90%;
    }

    @media screen and (max-width: 500px) {
      padding: 10px;
    }

    .password-box {
      display: flex;
      align-items: center;
      width: 100%;

      span {
        padding: 10px;
        width: 80%;
        letter-spacing: 0.2vw;
        font-weight: 600;
        border: 2px double transparent;
        background-image: linear-gradient(white, white),
          radial-gradient(
            circle at left top,
            rgb(1, 110, 218),
            rgb(217, 0, 192)
          );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        color: black;

        @media screen and (max-width: 500px) {
          font-size: 14px;
          width: 90%;
        }

        @media screen and (max-width: 400px) {
          font-size: 14px;
          width: 380px;
          height: 20px;
          padding: 12px;
        }
      }

      .img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px double transparent;
        width: 100px;
        height: 41px;
        margin-left: 20px;
        cursor: pointer;
        background-image: linear-gradient(rgb(54, 52, 52), black),
          radial-gradient(
            circle at left top,
            rgb(1, 110, 218),
            rgb(217, 0, 192)
          );
        background-origin: border-box;
        background-clip: padding-box, border-box;

        @media screen and (max-width: 400px) {
          width: 60px;
          height: 35px;
        }

        img {
          width: 20px;
          color: white;
        }
      }
    }

    .settings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;

      h3 {
        background: radial-gradient(
          circle at left top,
          rgb(1, 110, 218),
          rgb(217, 0, 192)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 500px) {
          justify-content: center;
          align-items: center;
        }
      }

      div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        @media screen and (max-width: 560px) {
          flex-direction: column;
        }
      }

      .setting {
        display: flex;
        flex-direction: row-reverse;
        margin: 4px 0;
        align-items: center;
        justify-content: start;

        input {
          cursor: pointer;
          margin-right: 6px;
        }

        input:checked {
          accent-color: rgb(217, 0, 192);
        }
      }

      .setting-length {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 8px 0 0 0;
        align-items: start;
        justify-content: start;
        font-size: 18px;
        font-weight: bold;

        .password-length {
          background: radial-gradient(
            circle at left top,
            rgb(1, 110, 218),
            rgb(217, 0, 192)
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .length-box {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;

          @media screen and (max-width: 570px) {
            justify-content: center;
            flex-direction: row;
          }

          .input-length {
            width: 50%;
            color: aqua;

            @media screen and (max-width: 570px) {
              width: 60%;
            }
          }

          p {
            margin-left: 10px;
            font-size: 20px;
            border: 1px solid black;
            padding: 4px 8px;
            background: radial-gradient(
              circle at left top,
              rgb(1, 110, 218),
              rgb(217, 0, 192)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    div {
      display: flex;
      width: 100%;

      @media screen and (max-width: 800px) {
        align-items: center;
        justify-content: center;
      }

      .btn-generate {
        width: 50%;
        border-radius: 5px;
        padding: 5px;
        margin-top: 15px;
        font-family: $font;
        border: 2px double transparent;
        background-image: linear-gradient(black, rgb(54, 52, 52)),
          radial-gradient(
            circle at left top,
            rgb(1, 110, 218),
            rgb(217, 0, 192)
          );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        color: white;
        cursor: pointer;

        @media screen and (max-width: 450px) {
          width: 70%;
        }
      }
    }
  }
}
